<!DOCTYPE html>
{% load static %}
{% include 'navbar.html'%}

<html>
<head>
	<title>Web Baroe Hidup Baroe</title>
	<meta charset="utf-8">
	<meta name="google-signin-client_id" content="455269323850-mqr3mtf0t58i1v9r4fv8t8bkkh4pqu68.apps.googleusercontent.com">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="https://apis.google.com/js/client:platform.js?onload=startApp"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
</head>

<body>	
		{% block content %}
		{% if user.is_authenticated %}
				 <p class="display-4">Hello, {{ user.username }}</p>
		{% else %}
				 <a class="lead" href="{% url 'login' %}">Log in</a>
		{% endif %}
		{% endblock content %}
		<button id='logout' type="submit" onclick="signOut()" class="save btn btn-default">Logout</button> 

		<h1>Hello, apa kabar?</h1>
		<form method="POST" action = "{% url 'home' %}">
			{% csrf_token %}
			{{ form.status }}
			<button id='submit' type="submit" class="save btn btn-default">Post</button> 
		</form>
		
		<table id='table'>
			{% for a in data%}
			<tr>	
				<th>{{a.status}}</th>
				<th>{{a.created_time}}</th>	
			</tr>
			{% endfor %}
		</table>


</body>
</html>
