<!DOCTYPE html>
{% load static %}
{% include 'navbar.html'%}

<html>
<head>
	<title>Web Baroe Hidup Baroe</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/library.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div>
        <h1>HARUS BGTTT BACA BUKU INI WOI</h1>
        <h4>NUM OF MY FAVO: <a id="counter">0</a></h4>
        <br>
    </div>
    <input id="input" type="text" placeholder="Search..">
    <!-- <input id="input" type="text" name="search" placeholder="Search.."> -->
    <!-- <button id = "search" ><i  class = "fa fa-search"></i></button> -->
        </div>
    </div>

		<table class='table'>
            <thead>
			<tr>
                <th scope="col">Sneek peek</th>	
				<th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">A little about the book</th>
                <th  scope="col">Favorito dong dong</th>	
            </tr>
            </thead>
            <tbody class="isitable">    
                </tbody>
        </table>
        
    
    
</body>
</html>
