<!DOCTYPE html>
{% load static %}
{% include 'navbar.html'%}

<html>
<head>
	<title>Web Baroe Hidup Baroe</title>
    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="455269323850-bj485mq0bibkbsq39f9irpdm920kt0uk.apps.googleusercontent.com.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/subs.js' %}"></script>
</head>

<body>		
        
        {% block content %}
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <br>
        <p><strong>-- OR --</strong></p>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        {% endblock %}

</body>
</html>