{% load static %}

<nav id=navbarq class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'profile' %}">
            <img src="https://i.imgur.com/4tsp5eo.png" width = 50 height = auto alt=""/>
        </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'library' %}">Library</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'subs' %}">Subscribe</a>
        </li>

        </li>
      </ul>
    </div>
    </nav>
  
  