{% load static %}
{% include 'navbar.html'%}
<head>
	<title>Nathasya E's Profile</title>
  	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

   <script>
   $( function() {
        $( "#progressbar" ).progressbar({
          value: 100
        });
      } );
    </script>
    
</head>

<body class="body-light">
    <font face = "Open Sans"></font>

    <div id="progressbar"></div>
    
	<div class="row">
      <div class="column" style= "position:absolute; left: 15%; top:15%">
        
        <a href="https://imgur.com/QFgtpxR"><img src="https://i.imgur.com/QFgtpxR.png" width = 450 height = auto align="right"/></a>
        </div>
	</div>
    
          
    <button class="accordion">yang dilakukan sekarang?</button>
          <div class="panel">
            <p>ya ngerjain ppw, tp pasti ppwnya error2 mulu sial2 mulu yaudahlah</p>
          </div>
          
          <button class="accordion">pernah ngapain aja?</button>
          <div class="panel">
            <p>jadi panitia pekan keagamaan karena religius</p>
          </div>
          
          <button class="accordion">yg pernah diraih?</button>
          <div class="panel">
            <p>masih masuk kuliah di fasilkom</p>
          </div>



    <div class="btn-group">
            <button id= btnlight class="btn">light</button>
            <button id = btndark class="btn">dark</button>
        </div>
        


	</body>
</html> 