<!DOCTYPE html>
{% load static %}
{% include 'navbar.html'%}

<html>
<head>
	<title>Web Baroe Hidup Baroe</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/subs.js' %}"></script>
</head>

<body>		
        <h1>Sabskraip</h1>
		<form class = 'theform' method="POST" action = "{% url 'subs' %}">
            {% csrf_token %}
            <div id = 'namanye'>{{ RegistForm.name }}</div>
            <div id = 'emailnye'>{{ RegistForm.email }}</div>
            <div id = 'passnye'>{{ RegistForm.password }}</div>
            <div id = 'catatankaki'></div>
			<button id='submit' type="submit" class="save btn btn-default">Post</button> 
        </form>
</body>
</html>