<!DOCTYPE html>
{% load static %}
{% include 'navbar.html'%}

<html>
<head>
	<title>Web Baroe Hidup Baroe</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
</head>

<body>		
		<h1>Thankyou</h1>
</body>
</html>