.theform{
    margin-left: 45%;
}

.clicked{
    color:#fe6287;
}

h4 {
    text-align: center;
}

h1{
    text-align: center;
    font-weight: bold;

}


th{
    background-color: #273485;
    color: white;
    font-weight: bold;
}

.btn-group{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.body-dark {
    background-color: black;
    color: white;
}

.body-light{    
    background: white;
    color: black;
}

/* Style navbar */
.navbar navbar-expand-lg navbar-light bg-light

.navbar navbar-expand-lg navbar-dark bg-dark


/* bootstrap */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

